* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
  background-color: lightpink;
}

.header {
  background-color: cyan;
  color: chocolate;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link:link {
  color: black;
  text-decoration: none;
  padding-right: 10px;
}

.link:hover {
  color: gray;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-rule-width: 0;
}

.nutr {
  border: 5px solid;
  width: auto;
  height: fit-content;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nutr:last-child {
  border-left: none;
}

.photo {
  height: 250px;
  width: auto;
  padding: 15px 0 15px 15px;
  margin-top: 30px;
}

.candy {
  margin: 30px;
}

.add {
  background-color: #f57af5;
}

.add:hover {
  background-color: transparent;
}

.owner {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  ;
}

p {
  color: black;
  display: contents;
  justify-content: center;
}

li {
  border-bottom: 5px solid;
  height: fit-content;
}

li:last-child {
  border-bottom: none;
}

.border {
  border-bottom: 2px solid;
}

.info{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic ;
  color: darkgoldenrod;
  text-decoration: underline ghostwhite;
}

.map {
  border: 2px solid;
}

footer {
  padding-top: 20px;
}
