* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
  background-image: url("https://images.alphacoders.com/659/659121.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width: device-width;
}


.header {
  background-color: skyblue;
  color: chocolate;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.fincher {
  color: chocolate;
  text-decoration: none;
}

.fincher:hover {
color: gray;
}

.icon {
  display: flex;
  margin-right: 10px;
  text-decoration: none;
}

.link:link {
  color: black;
  text-decoration: none;
  padding-right: 10px;
}

.link:hover {
  color: gray;
}

.photo {
  height: auto;
  width: 200px;
}

.click:hover,
.click-2:hover {
  background-color: transparent;
}

.text {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* landing */
.body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMY6j2lfizbR7F4i8XTWda92cwpIK2JNNXeA&usqp=CAU");
}

.landing {
  border-bottom: 3px solid black;
}

.page {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.top {
  margin-top: 80px;
  display: flex;
  width: 100%;
}

.bowls {
  width: 400px;
  border-radius: 75px;
  margin-bottom: 10px;
}

.shadow {
  box-shadow:  30px 10px lightgrey;
}

.intro {
  font-family: cursive;
  color:mediumvioletred;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  font-size: 50px;
}

.line {
  font-weight: bold;
  color: deeppink;
  -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: black;
}

.click {
  border: 3px solid black;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px;
  margin-top: 20px;
  background-color: lightpink;
  color: #00a2ff;
  font-weight: bold;
}

.mail-list {
  padding: 15px;
}

.background {
  background-color: blanchedalmond;
  border:blueviolet 5px solid
}

.extra {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.click-3 {
  border: 3px solid blanchedalmond;
  text-decoration: none;
  border-radius: 60px;
  padding: 5px;
  background-color: blanchedalmond;
  font-weight: bold;
  margin: 20px;
}

.span {
  color:magenta;
  margin-bottom: 5px;
}

.footer {
  color: white;
  width: 100%, device-width;
  display: flex;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYE-Nj5APM66EiAzDBQI7oOUVsJZVGqI7tzw&usqp=CAU");
}

.transparent {
  opacity: 65%;
}

.copyright {
  margin: 40px;
}

.align {
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
}

/* index */
.body-2 {
  display: flex;
  justify-content: center;
}

.container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.first {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.candy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  padding: 15px 0 15px 15px;
}

.pic {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.detail {
  font-style: italic;
}

.price {
  font-weight: bold;
}

.add {
  background-color: #f57af5;
}

.add:hover {
  background-color: transparent;
}

.photo-2 {
  height: 200px;
  width: auto;
}

.photo-3 {
  height: 160px;
}

/* About */
.about {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photos {
  display: flex;
  justify-content: space-around;
}

.owner {
  padding: 20px;
  margin-top: 20px;
}

.desc {
  margin: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz2tROAa44M-6OFBMyFtXR82tjUU5lrh7G6A&usqp=CAU);
  background-size:cover;
  background-repeat: no-repeat;
}

.signup {
  margin: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mail-list-2 {
  font-weight: bold;
  display: flex;
  justify-self: center;
  text-align: center;
  margin-bottom: 10px;
}

.align {
  display: flex;
  align-self: flex-start;
}

.click-2 {
  border: 3px solid black;
  text-decoration: none;
  border-radius: 75px;
  padding: 5px;
  background-color: cyan;
  font-weight: bold;
}

/* Nutrition*/
.info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  color: darkgoldenrod;
  text-decoration: underline ghostwhite;
  text-align: center;
  margin-top: 100px;
}

.nutr {
  width: auto;
  height: fit-content;
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid;
}

.unordered {
  display: flex;
  flex-direction: column;
  border: 5px solid;
}

.list {
  margin-left: 15px;
  border-right: 5px solid;
  text-align: center;
}

.list:last-child {
  border-right: none;
}

.border {
  border-bottom: 2px solid;
  padding-right: 10px;
}

/* Location */
.location {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  border: 2px solid;
}

.updates {
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.input {
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media {
  height: 25px;
  margin-top: 30px;
  margin-left: 10px;
}


/* Cart */

.cart {
  background-image: none;
  background-color: white;
}
.sparce {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
  padding-top: 10px;
  background-color: lightblue
}

.arrow {
  display: flex;
  justify-self: left;
}

.title {
  color: chocolate;
  display: flex;
  justify-self: center;
}

.total {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

